@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.header .navbar .links li a {
  font-family: "Roboto", sans-serif;
  color: rgb(255, 209, 93);
  text-transform: uppercase;
  font-weight: 500;
}

.formParticipant, .formDrinks {
  font-family: "Roboto", sans-serif;
  color: rgb(255, 209, 93);
  font-weight: 400;
  margin-top: 7vw;
}

.labelTitle input, .labelPart input, .labelDrinks input {
  font-family: "Roboto", sans-serif;
}

.errorList {
  font-family: "Roboto", sans-serif;
  color: rgb(255, 209, 93);
  font-weight: 400;
  margin: 20vw 5vw;
  text-align: justify;
}
.errorList h2 a {
  color: inherit;
}
.errorList h2 a:hover {
  color: black;
}

.validateDrink {
  font-family: "Roboto", sans-serif;
  color: white;
}

.calculatePool .validate {
  font-family: "Roboto", sans-serif;
  color: rgb(107, 107, 107);
}

.remaining {
  font-family: "Roboto", sans-serif;
  color: rgb(255, 209, 93);
  font-weight: 400;
}

.drinksAmount, .drinksPrice, .totalParticipant {
  font-family: "Roboto", sans-serif;
  color: rgb(255, 198, 53);
  font-weight: 400;
}

.deleteConfirmation, .homeErrorMsg, .listConfig {
  font-family: "Roboto", sans-serif;
  color: rgb(255, 198, 53);
  font-weight: 400;
}

.displayDrink, .detailsDrink {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.labelDrinks {
  margin: 0 0 3vw 0;
}
.labelDrinks input {
  border-radius: 5px;
  border-color: rgb(246, 224, 197);
}

.setOfDrink {
  border-bottom: solid 3px rgb(246, 224, 197);
  margin-bottom: 5vw;
}
.setOfDrink .displayDrink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20vw;
}

.detailsDrink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.createBudget {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5vw;
  background-color: rgb(246, 224, 197);
  border: none;
  box-shadow: rgb(222, 222, 222) 2px 2px 2px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.closeModal {
  position: absolute;
  right: 5%;
  padding: 1.5vw;
  background-color: rgb(246, 224, 197);
  border: none;
  box-shadow: rgb(222, 222, 222) 2px 2px 2px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.participantButtons {
  padding: 2vw;
  background-color: rgb(246, 224, 197);
  border: none;
  box-shadow: rgb(222, 222, 222) 2px 2px 2px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.back, .deletePool, .backToDrinks {
  padding: 3vw;
  background-color: rgb(246, 224, 197);
  border: none;
  box-shadow: rgb(222, 222, 222) 2px 2px 2px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.createDrinkable, .createParticipant {
  display: flex;
  justify-content: right;
  margin-right: 5vw;
}
.createDrinkable .createDrink, .createDrinkable .createNewParticipant, .createParticipant .createDrink, .createParticipant .createNewParticipant {
  padding: 5vw;
  background-color: rgb(246, 224, 197);
  border: none;
  box-shadow: rgb(222, 222, 222) 2px 2px 2px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.validate {
  display: flex;
  justify-content: center;
  align-items: center;
}
.validate .validateDrink {
  padding: 3vw;
  background-color: rgb(246, 224, 197);
  border: none;
  box-shadow: rgb(222, 222, 222) 2px 2px 2px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.deleteDrink {
  border: none;
  background-color: white;
  cursor: pointer;
}

.calculatePool {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7vw;
}
.calculatePool .validate {
  padding: 3vw;
  background-color: rgb(246, 224, 197);
  border: none;
  box-shadow: rgb(222, 222, 222) 2px 2px 2px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.deleteOrNotDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  margin-top: 10vw;
}
.deleteOrNotDelete .cancel, .deleteOrNotDelete .validateDelete {
  padding: 3vw;
  background-color: rgb(246, 224, 197);
  border: none;
  box-shadow: rgb(222, 222, 222) 2px 2px 2px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.validateParticipant {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5% 15%;
}

.labelTitle {
  margin: 0 0 3vw 0;
}
.labelTitle input {
  width: 95%;
  border-radius: 5px;
  border-color: rgb(246, 224, 197);
}

.labelPart {
  display: flex;
  flex-direction: column;
  margin: 0 0 2vw 0;
}
.labelPart input {
  width: 95%;
  border-radius: 5px;
  border-color: rgb(246, 224, 197);
}

.homeErrorMsg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 7vw 4vw;
}
.homeErrorMsg .buttons {
  display: flex;
  flex-direction: row;
  gap: 10vw;
}

body {
  padding-bottom: 170px;
}

.bill {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: solid 3px rgb(246, 224, 197);
  width: 100%;
  z-index: 0;
  background-color: white;
}
.bill .total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: solid 3px rgb(246, 224, 197);
  padding: 0 15vw;
}

.poolRemaining {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.drinksAmount, .drinksPrice, .totalParticipant {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.header {
  height: 12vw;
}
.header .burger-menu {
  position: absolute;
  right: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  z-index: 10;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
  margin-right: 5%;
}
.header .burger-menu .burger {
  width: 2rem;
  height: 0.25rem;
  background: rgb(255, 209, 93);
}
.header .burger-menu.move {
  transform: translateX(-60vw);
  z-index: 11;
}
.header .navbar {
  transform: translateX(120%);
  transition: transform 0.3s ease-out;
  background-color: rgb(255, 255, 255);
  width: 60%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 10%;
  z-index: 10;
}
.header .navbar .links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5vw;
}
.header .navbar .links a {
  text-decoration: none;
  color: inherit;
}
.header .navbar .links a:hover {
  color: inherit;
}
.header .config {
  list-style: none;
}
.header .config .iconConfig a {
  text-decoration: none;
  color: inherit;
}
.header .config .iconConfig a:hover {
  color: inherit;
}
.header .config .iconConfig a .icon-container {
  color: rgb(255, 209, 93);
  font-size: 10vw;
}
.header .config .iconConfig a .icon-container:hover {
  color: black;
}
.header .navbar.show {
  transform: translateX(0);
  z-index: 10;
}
.header .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(83, 82, 82, 0.5);
  z-index: 5;
  transition: opacity 0.3s ease-out;
  opacity: 0;
  pointer-events: none;
}
.header .overlay.show {
  opacity: 1;
  pointer-events: auto;
}

table {
  margin-top: 5vw;
  border-collapse: collapse;
  margin-bottom: 5vw;
}
table thead tr, table tbody tr {
  border-bottom: 2px solid rgb(246, 224, 197);
  display: flex;
  flex-direction: row;
}
table thead tr .name, table tbody tr .name {
  display: flex;
  align-items: center;
  width: 50vw;
  height: 5vh;
}
table thead tr .numberUser, table thead tr .given, table tbody tr .numberUser, table tbody tr .given {
  display: flex;
  align-items: center;
  width: 20vw;
}

.labelParticipants {
  margin: 0 0 3vw 0;
}
.labelParticipants input {
  border-radius: 5px;
  border-color: rgb(246, 224, 197);
}

.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20vh;
}
.homepage .logo {
  width: 20vw;
}

.charging {
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */