.createBudget {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5vw;
  background-color: rgb(246, 224, 197);
  border: none;
  box-shadow: rgb(222, 222, 222) 2px 2px 2px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.closeModal {
  position: absolute;
  right: 5%;
  padding: 1.5vw;
  background-color: rgb(246, 224, 197);
  border: none;
  box-shadow: rgb(222, 222, 222) 2px 2px 2px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.participantButtons {
  padding: 2vw;
  background-color: rgb(246, 224, 197);
  border: none;
  box-shadow: rgb(222, 222, 222) 2px 2px 2px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.back, .deletePool, .backToDrinks {
  padding: 3vw;
  background-color: rgb(246, 224, 197);
  border: none;
  box-shadow: rgb(222, 222, 222) 2px 2px 2px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.createDrinkable, .createParticipant {
  display: flex;
  justify-content: right;
  margin-right: 5vw;

  .createDrink, .createNewParticipant {
    padding: 5vw;
    background-color: rgb(246, 224, 197);
    border: none;
    box-shadow: rgb(222, 222, 222) 2px 2px 2px 0px;
    border-radius: 5px;
    cursor: pointer;
  }
}

.validate {
  display: flex;
  justify-content: center;
  align-items: center; 

  .validateDrink {
    padding: 3vw;
    background-color: rgb(246, 224, 197);
    border: none;
    box-shadow: rgb(222, 222, 222) 2px 2px 2px 0px;
    border-radius: 5px;
    cursor: pointer;
  }
}

.deleteDrink {
  border: none;
  background-color: white;
  cursor: pointer;
}

.calculatePool {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 7vw;
  .validate {
    padding: 3vw;
    background-color: rgb(246, 224, 197);
    border: none;
    box-shadow: rgb(222, 222, 222) 2px 2px 2px 0px;
    border-radius: 5px;
    cursor: pointer;
  }
}

.deleteOrNotDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  margin-top: 10vw;
  .cancel, .validateDelete {
    padding: 3vw;
    background-color: rgb(246, 224, 197);
    border: none;
    box-shadow: rgb(222, 222, 222) 2px 2px 2px 0px;
    border-radius: 5px;
    cursor: pointer;
  }
}