.header {
  .navbar {
    .links {
      li {
        a {
          font-family: "Roboto", sans-serif;
          color: rgb(255, 209, 93);
          text-transform: uppercase;
          font-weight: 500;
        }
      }
    }
  }
}