
.navbar {
  .links {
    li {
      text-align: center;
      a {
        font-family: "Poppins", sans-serif;
        color: rgba(0, 111, 119, 1);
        font-weight: 500;
        text-decoration: none;
        font-size: 24px;
      }
    }
  }
}

.logoHome {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.formParticipant, .formDrinks {
  font-family: "Poppins", sans-serif;
  color: rgba(0, 111, 119, 1);
  font-weight: 600;
  margin-top: 7vw;
}

.labelTitle,  .labelPart, .labelDrinks, .labelPartNumber {
  input {
    font-family: "Poppins", sans-serif;
    color: rgba(0, 111, 119, 1);
    font-weight: 400;
  }
}

.participantButtonsValidate {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: white;

  .check {
    color: white;
    font-size: 20px;
  }
}

 .backToDrinks {
  .drinkIcon {
    color: white;
    font-size: 20px;
  }
}

.deletePool {
  .trash {
    color: white;
    font-size: 20px;
  }
}

.errorList {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 400;
  margin: 20vw 5vw;
  h2 {
    a {
      color: inherit;

      &:hover {
        color: black;
      }
    }
  }
}

.validateDrink {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 16px
}


.remaining {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 400;
  line-height: 0.5;
  h2 {
    margin-bottom: 0;
  }
}

.drinksAmount, .drinksPrice, .totalParticipant {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 400;
  line-height: 0;
}

.errorState {
  color: rgba(173, 50, 0, 1);
}


.deleteConfirmation, .homeErrorMsg, .listConfig, .lessDrinks, .deleteDrink {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 400;
}

.deleteConfirmation {
  font-family: "Poppins", sans-serif;
  color: rgba(0, 111, 119, 1);
  font-weight: 600;
}

.displayDrink, .detailsDrink {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.deleteOrNotDelete {
  .cancel {
    color: rgba(173, 50, 0, 1);
    font-size: 20px;
  }
  .validateDelete {
    color: white;
    font-size: 20px;
  }
}

.lessParticipants, .lessMoney {
  .minus {
    color: rgba(0, 111, 119, 1);
    font-size: 18px;
  }
}

.moreParticipants, .moreMoney, .moreDrinks, .participantButtons {
  .plus {
    color: rgba(173, 50, 0, 1);
    font-size: 18px;
  }
}

.drinkQuantity {
  border: 1.5px solid rgba(0, 111, 119, 1);
  border-radius: 15px;
  padding: 0.5vh 7vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: white;
}

.createDrink {
  color: rgba(173, 50, 0, 1);
  font-size: 18px;
}

.addAndCalculate {
  .createNewDrink {
    color: rgba(173, 50, 0, 1);
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
}

.calculatePool {
  .validate {
    color: white;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
}

.errorDiv {
  color: rgba(173, 50, 0, 1);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.back, .createNewParticipant {
  color: rgba(173, 50, 0, 1);
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

table {
  thead, tbody {
    tr {
      .name {
        color: white;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
      }
      
      .numberUser, .given {
        color: white;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
      }
    }
  }
}