
.navbar {
  .links {
    li {
      text-align: center;
      a {
        font-family: "Poppins", sans-serif;
        color: rgba(0, 111, 119, 1);
        font-weight: 500;
        text-decoration: none;
        font-size: 24px;
      }
    }
  }
}


.logoHome {
  font-family: "Poppins", sans-serif;
}

.formParticipant, .formDrinks {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 209, 93);
  font-weight: 400;
  margin-top: 7vw;
}

.labelTitle,  .labelPart, .labelDrinks {
  input {
    font-family: "Poppins", sans-serif;
  }
}

.errorList {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 209, 93);
  font-weight: 400;
  margin: 20vw 5vw;
  h2 {
    a {
      color: inherit;

      &:hover {
        color: black;
      }
    }
  }
}

.validateDrink {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.calculatePool {
  .validate {
    font-family: 'Roboto', sans-serif;
    color: rgb(107, 107, 107);
  }
}

.remaining {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 209, 93);
  font-weight: 400;
}

.drinksAmount, .drinksPrice, .totalParticipant {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 198, 53);
  font-weight: 400;
}

.deleteConfirmation, .homeErrorMsg, .listConfig {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 198, 53);
  font-weight: 400;
}

.displayDrink, .detailsDrink {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}