.addAndCalculate {
  display: flex;
  flex-direction:row;
  gap: 5%;
}

.labelDrinks {
  margin: 0 0 3vw 0;
  input {
    border-radius: 5px;
    width: 95%;
    height: 3vh;
  }
}

.listOfDrinks {
  margin: 4vh 0;
  background-color: rgba(0, 70, 74, 1);
  border-radius: 15px;

  .setOfDrink {
    border-bottom: solid 1px rgba(0, 111, 119, 1);
    margin: 0vh 3vh;

    &:last-child {
      border-bottom: none;
    }
    
    .displayDrink {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 20vw;
    }

    .NumberOfDrinks {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}


.customDropdown {
  width: 100%; /* Match the width of the input field */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 4px; /* Round the corners */
  padding: 10px; /* Add some padding */
  background-color: #fff; /* Set the background color */
  z-index: 1; /* Stack the dropdown above other elements */
  max-height: 200px; /* Limit the height of the dropdown */
  overflow-y: auto; /* Add a scrollbar if necessary */
}

.customDropdown option {
  padding: 10px; /* Add some padding to each option */
  cursor: pointer; /* Change the cursor when hovering over an option */
}

.customDropdown option:hover {
  background-color: #f1f1f1; /* Change the background color of an option when hovering */
}