.createBudget {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5vw;
  background-color: rgba(255, 221, 18, 1);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  color: rgba(173, 50, 0, 1);
  width: 85%;
  height: 12vh;
  font-size: 26px;
}

.icon-container {
  background-color: white;
  border-radius: 100%;
  border: 1px solid rgba(171, 171, 171, 1);
  width: 50px;
  height: 50px;

  .config-icon, .closeModalHeader {
    font-size: 25px;
    color: rgba(171, 171, 171, 1);
  }
}


.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  .closeModal {
    background-color: white;
    border-radius: 100%;
    border: 1px solid rgba(171, 171, 171, 1);
    width: 40px;
    height: 40px;
  
    .closeIcon {
      font-size: 25px;
      color: rgba(171, 171, 171, 1);
    }
  }
}

.participantButtons {
  background-color: rgba(255, 221, 18, 1);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 4vw;
}

.participantButtonsValidate, .backToDrinks {
  padding: 4vw 14vw;
  background-color: rgba(0, 111, 119, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back, .deletePool {
  background-color: rgba(255, 221, 18, 1);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 4vw;
}

.createDrinkable, .createParticipant {
  display: flex;
  justify-content: right;
  margin-right: 5vw;

  .createDrink, .createNewParticipant {
    padding: 5vw;
    background-color: rgb(246, 224, 197);
    border: none;
    box-shadow: rgb(222, 222, 222) 2px 2px 2px 0px;
    border-radius: 5px;
    cursor: pointer;
  }
}

.validate {
  display: flex;
  justify-content: center;
  align-items: center; 

  .validateDrink {
    padding: 4vw 14vw;
  background-color: rgba(0, 111, 119, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }
}

.deleteDrink {
  border: none;
  background-color: white;
  cursor: pointer;
}

.calculatePool {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 7vw;
  .validate {
    padding: 3vw;
    background-color: rgb(246, 224, 197);
    border: none;
    box-shadow: rgb(222, 222, 222) 2px 2px 2px 0px;
    border-radius: 5px;
    cursor: pointer;
  }
}

.deleteOrNotDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  margin-top: 10vw;
  .cancel {
    background-color: rgba(255, 221, 18, 1);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 4vw;
  }
  .validateDelete {
    padding: 4vw;
    background-color: rgba(0, 111, 119, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

.lessParticipants, .lessMoney {
  border-radius: 5px;
  border: 1.5px solid rgba(231, 231, 231, 1);
  padding: 0vh 1vh;
  cursor: pointer;
}

.moreParticipants, .moreMoney {
  border-radius: 5px;
  background-color:rgba(255, 221, 18, 1);
  border: none;
  padding: 0vh 1vh;
  cursor: pointer;
  &:hover {
    background-color: rgb(255, 217, 0) ;
  }
}