.createBudget {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5vw;
  background-color: rgba(255, 221, 18, 1);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  color: rgba(173, 50, 0, 1);
  width: 85%;
  height: 12vh;
  font-size: 26px;
}

.icon-container {
  background-color: white;
  border-radius: 100%;
  border: 1px solid rgba(171, 171, 171, 1);
  width: 50px;
  height: 50px;

  .config-icon, .closeModalHeader {
    font-size: 25px;
    color: rgba(171, 171, 171, 1);
  }
}


.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  .closeModal {
    background-color: white;
    border-radius: 100%;
    border: 1px solid rgba(171, 171, 171, 1);
    width: 40px;
    height: 40px;
    cursor: pointer;
  
    .closeIcon {
      font-size: 25px;
      color: rgba(171, 171, 171, 1);
    }
  }
}

.participantButtons {
  background-color: rgba(255, 221, 18, 1);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 4vw;
}

.participantButtonsValidate, .backToDrinks {
  padding: 4vw 14vw;
  background-color: rgba(0, 111, 119, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 3vh;
}

.participantButtonValidate {
  padding: 4vw 14vw;
  background-color: rgba(0, 111, 119, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.homePageStyle {
  background-color: rgba(255, 221, 18, 1);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 4vw 14vw;
  .trash {
    color: rgba(173, 50, 0, 1);
  }
}

.otherPageStyle {
  background-color: rgba(0, 78, 83, 1);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 4vw;
}

.back {
  background-color: rgba(255, 221, 18, 1);
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vh 0 0 0;
}

.createParticipant {
  display: flex;
  justify-content: center;
  gap: 5vw;
  margin: 0 5vw;

  .modifyNewParticipant {
    background-color: rgb(0, 111, 119);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 4vw;
    width: 90%;
  }

  .addNewParticipant {
    background-color: rgba(255, 221, 18, 1);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 4vw;
    width: 90%;
  }
}

.lessDrinks, .deleteDrink {
  border-radius: 5px;
  background-color:rgba(0, 111, 119, 1);
  padding: 1vh 1vh;
  cursor: pointer;
  border: none;
}

.moreDrinks {
  border-radius: 5px;
  background-color:rgba(255, 221, 18, 1);
  border: none;
  padding: 1vh 1vh;
  cursor: pointer;
  &:hover {
    background-color: rgb(255, 217, 0) ;
  }
}

.validate {
  display: flex;
  justify-content: center;
  align-items: center; 

  .validateDrink {
    padding: 4vw 14vw;
    background-color: rgba(0, 111, 119, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}





.deleteOrNotDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  margin-top: 10vw;
  .cancel {
    background-color: rgba(255, 221, 18, 1);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 4vw;
  }
  .validateDelete {
    padding: 4vw;
    background-color: rgba(0, 111, 119, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

.lessParticipants, .lessMoney {
  border-radius: 5px;
  border: 1.5px solid rgba(231, 231, 231, 1);
  padding: 0vh 1vh;
  cursor: pointer;
}

.moreParticipants, .moreMoney {
  border-radius: 5px;
  background-color:rgba(255, 221, 18, 1);
  border: none;
  padding: 0vh 1vh;
  cursor: pointer;
  &:hover {
    background-color: rgb(255, 217, 0) ;
  }
}

.addAndCalculate {
  .createNewDrink {
    border-radius: 5px;
    background-color:rgba(255, 221, 18, 1);
    border: none;
    padding: 2vh 2.5vh;
    cursor: pointer;
    &:hover {
      background-color: rgb(255, 217, 0) ;
    }
  }
  .calculatePool {
    .validate {
      padding: 2vh 11vw;
      background-color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

.createDrinkable {
  display: flex;
  justify-content: center;

  .createDrink {
    padding: 2vh 11vw;
    background-color: rgba(255, 221, 18, 1);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
}

.reorderButton {
  padding: 2.5vw;
  background-color: rgba(0, 111, 119, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}


.buttonsAddByFive {
  display: flex;
  flex-direction: row;
  gap: 5%;
  align-items: center;
  justify-content: center;
  margin: 2vh 2vw;
  .addTo {
    flex-grow: 1;
    // padding: 0 4vw;
    width: 100%;
    height: 8vh;
    border-radius: 10px;
    border: none;
    &:hover {
      background-color: rgba(0, 111, 119, 1);
    }
  }
}

.addAmountParticipants {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 4vh 3vh;
  padding: 3vh 1vw;
  background-color: rgba(255, 221, 18, 1);
  border: none;
  border-radius: 5px;
}

.deleteParticipant {
  border: none;
  padding: 1vh 2vw;
  background-color: inherit;
  color: rgb(159, 159, 159);
  font-size: 16px;
}