body {
  background-color: rgba(0, 78, 83, 1);
  margin: 2vh;
}

.totalPool {

  .bill {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background-color: rgba(0, 111, 119, 1);
    border-radius: 15px;
    margin: 0 2vh 2vh 2vh;
    padding: 0vh 3vh;
    height: 24vh;
  
    .total {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: center;
      gap: 2vh;
    }
  }
}


.poolRemaining {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.drinksAmount, .drinksPrice, .totalParticipant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
  padding: 0 4vw;

  background-color: rgba(0, 129, 138, 1);
  border-radius: 7px;
  width: 40vw;
  height: 4vh;
  
}

.errorState {
  background-color: rgba(255, 221, 18, 1);
}

.errorDiv {
  background-color: rgba(255, 221, 18, 1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2vh 2vh;
  z-index: 0;
  position: fixed;
  bottom: 27vh;
  left: 0;
  right: 0;
}


