table {
  margin: 5vw 4vw;
  border-collapse: collapse;
  border-spacing: 0;
  
  thead, tbody {
    
    tr {
      display: flex;
      flex-direction: row;
      margin-bottom: 2vw;
      .name {
        display: flex;
        align-items: center;
        width: 43vw;
        height: 5vh;
        &:first-child {
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
          padding-left: 2vh;
        }
      }
      
      .numberUser, .given {
        display: flex;
        align-items: center;
        width: 20vw;
        &:last-child {
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
        }
      }

      td {
        background-color: rgba(0, 111, 119, 1);
      }
    }
  }
}

.labelParticipants {
  margin: 0 0 3vw 0;
  input {
    border-radius: 5px;
    border-color: rgb(246, 224, 197);
  }
}