@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.navbar .links li {
  text-align: center;
}
.navbar .links li a {
  font-family: "Poppins", sans-serif;
  color: rgb(0, 111, 119);
  font-weight: 500;
  text-decoration: none;
  font-size: 24px;
}

.logoHome {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.formParticipant, .formDrinks {
  font-family: "Poppins", sans-serif;
  color: rgb(0, 111, 119);
  font-weight: 600;
}

.labelPart input, .labelDrinks input, .labelPartNumber input {
  font-family: "Poppins", sans-serif;
  color: rgb(0, 111, 119);
  font-weight: 400;
}

.participantButtonsValidate, .participantButtonValidate {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: white;
}
.participantButtonsValidate .check, .participantButtonValidate .check {
  color: white;
  font-size: 20px;
}

.backToDrinks .drinkIcon {
  color: white;
  font-size: 20px;
}

.deletePool .trash {
  color: white;
  font-size: 20px;
}

.errorList {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 14px;
  margin: 4vh 2vh;
}
.errorList h2 a {
  color: rgb(173, 50, 0);
}

.validateDrink {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.drinksPrice {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 400;
  line-height: 0.5;
  font-size: 20px;
}
.drinksPrice p {
  line-height: 0;
}

.drinksAmount, .remaining, .totalParticipant {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 400;
  line-height: 0;
}

.errorState {
  color: rgb(173, 50, 0);
  border-radius: 5px;
  padding: 0 2vw;
}

.deleteConfirmation, .homeErrorMsg, .listConfig, .lessDrinks, .deleteDrink {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 16px;
}

.homeErrorMsg {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 14px;
}

.deleteConfirmation {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: rgb(0, 111, 119);
  font-weight: 600;
}

.displayDrink, .detailsDrink {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: white;
}

.deleteOrNotDelete .cancel {
  color: rgb(173, 50, 0);
  font-size: 20px;
}
.deleteOrNotDelete .validateDelete {
  color: white;
  font-size: 20px;
}

.lessParticipants .minus, .lessMoney .minus {
  color: rgb(0, 111, 119);
  font-size: 18px;
}

.moreParticipants .plus, .moreMoney .plus, .moreDrinks .plus, .participantButtons .plus {
  color: rgb(173, 50, 0);
  font-size: 18px;
}

.drinkQuantity {
  border: 1.5px solid rgb(0, 111, 119);
  border-radius: 15px;
  padding: 0.5vh 7vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: white;
}

.createDrink {
  color: rgb(173, 50, 0);
  font-size: 18px;
}

.addAndCalculate {
  margin-top: 2vh;
}
.addAndCalculate .createNewDrink {
  color: rgb(173, 50, 0);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.calculatePool .validate {
  color: rgb(0, 129, 138);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.errorDiv {
  color: rgb(173, 50, 0);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.back, .addNewParticipant {
  color: rgb(173, 50, 0);
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.modifyNewParticipant {
  color: white;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

table thead tr .name, table tbody tr .name {
  color: white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
table thead tr .numberUser, table thead tr .given, table tbody tr .numberUser, table tbody tr .given {
  color: white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.title404 {
  color: rgb(173, 50, 0);
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.text404 {
  color: rgb(0, 129, 138);
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.redirectHome, .modifyNewParticipant {
  color: white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.budgetPage .OrderPage {
  color: white;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.budgetPage .OrderPage .errorOrder {
  margin: 4vh 2vh;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.budgetPage .OrderPage .errorOrder a {
  color: rgb(255, 221, 18);
}
.budgetPage .OrderPage .orders .detailOrder {
  line-height: 0.4;
  color: white;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.errorDrink, .errorOrder, .errorOrderNoEvent {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 22px;
  margin: 4vh 2vh;
}
.errorDrink a, .errorOrder a, .errorOrderNoEvent a {
  color: rgb(255, 221, 18);
}

.buttonsAddByFive .addTo {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.addAmountParticipants {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: rgb(173, 50, 0);
}

.explainAddAmount {
  color: rgb(0, 111, 119);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-bottom: 3vh;
}

.createBudget {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5vw;
  background-color: rgb(255, 221, 18);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  color: rgb(173, 50, 0);
  width: 85%;
  height: 12vh;
  font-size: 26px;
}

.icon-container {
  background-color: white;
  border-radius: 100%;
  border: 1px solid rgb(171, 171, 171);
  width: 50px;
  height: 50px;
}
.icon-container .config-icon, .icon-container .closeModalHeader {
  font-size: 25px;
  color: rgb(171, 171, 171);
}

.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContent .closeModal {
  background-color: white;
  border-radius: 100%;
  border: 1px solid rgb(171, 171, 171);
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.modalContent .closeModal .closeIcon {
  font-size: 25px;
  color: rgb(171, 171, 171);
}

.participantButtons {
  background-color: rgb(255, 221, 18);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 4vw;
}

.participantButtonsValidate, .backToDrinks {
  padding: 4vw 14vw;
  background-color: rgb(0, 111, 119);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.participantButtonValidate {
  padding: 4vw 14vw;
  background-color: rgb(0, 111, 119);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.homePageStyle {
  background-color: rgb(255, 221, 18);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 4vw 14vw;
}
.homePageStyle .trash {
  color: rgb(173, 50, 0);
}

.otherPageStyle {
  background-color: rgb(0, 78, 83);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 4vw;
}

.back {
  background-color: rgb(255, 221, 18);
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vh 0 0 0;
}

.createParticipant {
  display: flex;
  justify-content: center;
  gap: 5vw;
  margin: 0 5vw;
}
.createParticipant .modifyNewParticipant {
  background-color: rgb(0, 111, 119);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 4vw;
  width: 90%;
}
.createParticipant .addNewParticipant {
  background-color: rgb(255, 221, 18);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 4vw;
  width: 90%;
}

.errorAddMoney {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.errorAddMoney .modifyNewParticipant {
  padding: 2vh 7.08vw;
  background-color: rgb(173, 50, 0);
  border: none;
  border-radius: 5px;
  color: white;
  flex: 1;
  font-size: 12px;
  margin: 0.7vh 2vw;
  font-weight: 500;
}
.errorAddMoney .addAmountParticipants {
  padding: 2vh 1vw;
  background-color: rgb(173, 50, 0);
  border: none;
  border-radius: 5px;
  color: white;
  flex: 1;
  font-size: 12px;
  font-weight: 500;
  margin: 0.7vh 2vw;
}

.lessDrinks, .deleteDrink {
  border-radius: 5px;
  background-color: rgb(0, 111, 119);
  padding: 1vh 1vh;
  cursor: pointer;
  border: none;
}

.moreDrinks {
  border-radius: 5px;
  background-color: rgb(255, 221, 18);
  border: none;
  padding: 1vh 1vh;
  cursor: pointer;
}
.moreDrinks:hover {
  background-color: rgb(255, 217, 0);
}

.validate {
  display: flex;
  justify-content: center;
  align-items: center;
}
.validate .validateDrink {
  padding: 4vw 14vw;
  background-color: rgb(0, 111, 119);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.validate.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.deleteOrNotDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  margin-top: 10vw;
}
.deleteOrNotDelete .cancel {
  background-color: rgb(255, 221, 18);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 4vw;
}
.deleteOrNotDelete .validateDelete {
  padding: 4vw;
  background-color: rgb(0, 111, 119);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.lessParticipants, .lessMoney {
  border-radius: 5px;
  border: 1.5px solid rgb(231, 231, 231);
  padding: 0vh 1vh;
  cursor: pointer;
}

.moreParticipants, .moreMoney {
  border-radius: 5px;
  background-color: rgb(255, 221, 18);
  border: none;
  padding: 0vh 1vh;
  cursor: pointer;
}
.moreParticipants:hover, .moreMoney:hover {
  background-color: rgb(255, 217, 0);
}

.addAndCalculate {
  width: 100%;
}
.addAndCalculate .createNewDrink {
  border-radius: 5px;
  background-color: rgb(255, 221, 18);
  border: none;
  padding: 2vh 2.5vh;
  cursor: pointer;
  width: 100%;
}
.addAndCalculate .createNewDrink:hover {
  background-color: rgb(255, 217, 0);
}

.calculatePool .validate {
  padding: 2vh 10vw;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.createDrinkable .createDrink {
  padding: 2vh 11vw;
  background-color: rgb(255, 221, 18);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reorderButton {
  padding: 2.5vw;
  background-color: rgb(0, 111, 119);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.buttonsAddByFive {
  display: flex;
  flex-direction: row;
  gap: 5%;
  align-items: center;
  justify-content: center;
  margin: 2vh 0;
}
@media screen and (max-width: 320px) {
  .buttonsAddByFive {
    gap: 2%;
  }
}
.buttonsAddByFive .addTo {
  flex-grow: 1;
  width: 100%;
  height: 8vh;
  border-radius: 10px;
  border: none;
}
.buttonsAddByFive .addTo:hover {
  background-color: rgb(0, 111, 119);
  color: white;
}
.buttonsAddByFive .selected {
  background-color: rgb(0, 111, 119);
  color: white;
}

.addAmountParticipants {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 4vh 3vh;
  padding: 3vh 1vw;
  background-color: rgb(255, 221, 18);
  border: none;
  border-radius: 5px;
}

.deleteParticipant {
  border: none;
  padding: 1vh 2vw;
  background-color: inherit;
  color: rgb(159, 159, 159);
  font-size: 16px;
}

.addAndCalculate {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.labelDrinks {
  margin: 0 0 3vh 0;
}
.labelDrinks input {
  border-radius: 5px;
  width: 95%;
  height: 4vh;
}

.listOfDrinks {
  max-height: 49dvh;
  overflow-y: auto;
  margin: 4vh 0 0vh 0;
  background-color: rgb(0, 70, 74);
  border-radius: 15px;
}
.listOfDrinks .setOfDrink {
  border-bottom: solid 1px rgb(0, 111, 119);
  margin: 1vh 3vh 0 3vh;
}
.listOfDrinks .setOfDrink:last-child {
  border-bottom: none;
}
.listOfDrinks .setOfDrink .displayDrink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20vw;
}
.listOfDrinks .setOfDrink .displayDrink h2 {
  line-height: 0;
}
.listOfDrinks .setOfDrink .displayDrink p {
  line-height: 0;
}
.listOfDrinks .setOfDrink .NumberOfDrinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.customDropdown {
  width: 100%;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
}

.customDropdown option {
  padding: 10px;
  cursor: pointer;
}

.customDropdown option:hover {
  background-color: rgb(0, 111, 119);
}

.budgetPage .OrderPage {
  margin: 2vh 2vw;
  height: 60dvh;
}
.budgetPage .OrderPage .orders {
  background-color: rgb(0, 70, 74);
  padding: 1vh 4vh;
  border-radius: 15px;
}
.budgetPage .OrderPage .orders .tableOrders:last-child .detailOrder {
  border-bottom: none;
}
.budgetPage .OrderPage .orders .tableOrders .detailOrder {
  padding: 0 2vh 2vh 2vh;
  border-bottom: solid 1px rgb(0, 111, 119);
}
.budgetPage .OrderPage .orders .tableOrders .detailOrder .listOrder, .budgetPage .OrderPage .orders .tableOrders .detailOrder .totalOrder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.budgetPage .OrderPage .orders .tableOrders .reorder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 2vh;
}
.budgetPage .poolBudgetPage {
  background-color: rgb(0, 111, 119);
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 2vh;
}

.poolRemaining {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logoHome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  flex-direction: column;
  color: white;
}
.logoHome .ChoppinLogo {
  width: 25vh;
}

.homeErrorMsg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 7vw 4vw;
}
.homeErrorMsg .buttons {
  display: flex;
  flex-direction: row;
  gap: 10vw;
}

.events {
  display: flex;
  justify-content: center;
}
.events .createEvent {
  background-color: white;
  margin-top: 4vw;
  padding: 5%;
  border-radius: 15px;
  width: 75%;
  border: 10px solid rgb(233, 233, 233);
}
.events .createEvent .validateParticipant {
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin: 5% 0;
}
.events .createEvent .form {
  background-color: rgb(249, 249, 249);
  padding: 4vw 2vh 2vw 2vh;
  margin-top: 4vh;
  border-radius: 10px;
  position: relative;
}
.events .createEvent .form .deleteParticipant {
  position: absolute;
  top: 0;
  right: 0;
}
.events .createEvent .form .labelPart {
  display: flex;
  flex-direction: column;
  margin: 0 0 3vh 0;
}
.events .createEvent .form .labelPart input {
  height: 4vh;
  width: 95%;
  border-radius: 5px;
}
.events .createEvent .form .labelPartNumber {
  display: flex;
  flex-direction: column;
  margin: 0 0 3vh 0;
}
.events .createEvent .form .labelPartNumber .number {
  display: flex;
  flex-direction: row;
  gap: 2%;
}
.events .createEvent .form .labelPartNumber .number input {
  height: 4vh;
  width: 95%;
  border-radius: 5px;
}
.events .createEvent .form .labelPartNumber .number .inputNumber::-webkit-inner-spin-button,
.events .createEvent .form .labelPartNumber .number .inputNumber::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.events .createEvent .form .labelPartNumber .number .inputNumber {
  -moz-appearance: textfield;
}

.formNewPart .validateParticipant {
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin: 5% 0;
}
.formNewPart .formParticipant {
  background-color: rgb(249, 249, 249);
  padding: 2vw;
  margin-top: 5vh;
  border-radius: 10px;
}
.formNewPart .formParticipant .labelPart {
  display: flex;
  flex-direction: column;
  margin: 0 0 3vh 0;
}
.formNewPart .formParticipant .labelPart input {
  height: 4vh;
  width: 95%;
  border-radius: 5px;
}
.formNewPart .formParticipant:first-child {
  margin-top: 2vh;
}
.formNewPart .formParticipant .labelPartNumber {
  display: flex;
  flex-direction: column;
  margin: 0 0 3vh 0;
}
.formNewPart .formParticipant .labelPartNumber .number {
  display: flex;
  flex-direction: row;
  gap: 2%;
}
.formNewPart .formParticipant .labelPartNumber .number input {
  height: 4vh;
  width: 95%;
  border-radius: 5px;
}
.formNewPart .formParticipant .labelPartNumber .number .inputNumber::-webkit-inner-spin-button,
.formNewPart .formParticipant .labelPartNumber .number .inputNumber::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.formNewPart .formParticipant .labelPartNumber .number .inputNumber {
  -moz-appearance: textfield;
}

body {
  background-color: rgb(0, 78, 83);
  margin: 2vh;
}

.totalPool .bill {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-color: rgb(0, 111, 119);
  border-radius: 15px;
  margin: 0 2vh 2vh 2vh;
  height: 20vh;
}
.totalPool .bill .drinksPool {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.totalPool .bill .total {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 2vh;
}

.drinksPrice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.drinksAmount, .totalParticipant, .remaining {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
  padding: 0 4vw;
  background-color: rgb(0, 129, 138);
  border-radius: 7px;
  width: 26vw;
  height: 4vh;
}

.errorState {
  background-color: rgb(255, 221, 18);
}

.errorDiv {
  background-color: rgb(255, 221, 18);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2vh 2vh;
  z-index: 0;
  position: fixed;
  bottom: 23vh;
  left: 0;
  right: 0;
}

.listDrinkConfig {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header {
  height: 12vh;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .ChoppinLogo {
  width: 11vh;
  left: 5vh;
  position: absolute;
}
.header .burger-menu {
  position: absolute;
  right: 8vw;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  z-index: 10;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}
.header .burger-menu .burger {
  width: 2rem;
  height: 0.25rem;
  background-color: white;
  transition: all 0.3s linear;
}
.header .burger-menu.open .burger:nth-child(1) {
  transform: rotate(45deg) translate(0.5rem, 0.5rem);
  background-color: #006f77;
}
.header .burger-menu.open .burger:nth-child(2) {
  opacity: 0;
}
.header .burger-menu.open .burger:nth-child(3) {
  transform: rotate(-45deg) translate(0.5rem, -0.5rem);
  background-color: #006f77;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  align-items: center;
}
.navbar .ChoppinLogoNav {
  width: 11vh;
}
.navbar .links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5vw;
  padding: 0;
}
.navbar .links li {
  padding-bottom: 10px;
  border-bottom: 1px rgb(231, 231, 231) solid;
}
.navbar .links li:last-child {
  border-bottom: none;
}

.config {
  list-style: none;
  padding: 0;
  position: absolute;
  right: 15vw;
  bottom: 0;
}

.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20vh;
}
.homepage .logo {
  width: 25vh;
}

.charging {
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  margin: 5vw 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
table thead tr, table tbody tr {
  display: flex;
  flex-direction: row;
  margin-bottom: 2vw;
}
table thead tr .name, table tbody tr .name {
  display: flex;
  flex: 2;
  align-items: center;
  width: 46vw;
  height: 5vh;
}
table thead tr .name:first-child, table tbody tr .name:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 2vh;
}
table thead tr .numberUser, table thead tr .given, table tbody tr .numberUser, table tbody tr .given {
  flex: 1.5;
  display: flex;
  align-items: center;
  width: 20vw;
}
table thead tr .numberUser:last-child, table thead tr .given:last-child, table tbody tr .numberUser:last-child, table tbody tr .given:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
table thead tr td, table tbody tr td {
  background-color: rgb(0, 111, 119);
}

.labelParticipants {
  margin: 0 0 3vw 0;
}
.labelParticipants input {
  border-radius: 5px;
  border-color: rgb(246, 224, 197);
}/*# sourceMappingURL=style.css.map */