@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.navbar .links li {
  text-align: center;
}
.navbar .links li a {
  font-family: "Poppins", sans-serif;
  color: rgb(0, 111, 119);
  font-weight: 500;
  text-decoration: none;
  font-size: 24px;
}

.logoHome {
  font-family: "Poppins", sans-serif;
}

.formParticipant, .formDrinks {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 209, 93);
  font-weight: 400;
  margin-top: 7vw;
}

.labelTitle input, .labelPart input, .labelDrinks input {
  font-family: "Poppins", sans-serif;
}

.errorList {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 209, 93);
  font-weight: 400;
  margin: 20vw 5vw;
}
.errorList h2 a {
  color: inherit;
}
.errorList h2 a:hover {
  color: black;
}

.validateDrink {
  font-family: "Roboto", sans-serif;
  color: white;
}

.calculatePool .validate {
  font-family: "Roboto", sans-serif;
  color: rgb(107, 107, 107);
}

.remaining {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 209, 93);
  font-weight: 400;
}

.drinksAmount, .drinksPrice, .totalParticipant {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 198, 53);
  font-weight: 400;
}

.deleteConfirmation, .homeErrorMsg, .listConfig {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 198, 53);
  font-weight: 400;
}

.displayDrink, .detailsDrink {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.labelDrinks {
  margin: 0 0 3vw 0;
}
.labelDrinks input {
  border-radius: 5px;
  border-color: rgb(246, 224, 197);
}

.setOfDrink {
  border-bottom: solid 3px rgb(246, 224, 197);
  margin-bottom: 5vw;
}
.setOfDrink .displayDrink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20vw;
}

.detailsDrink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.createBudget {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5vw;
  background-color: rgb(255, 221, 18);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  color: rgb(173, 50, 0);
  width: 85%;
  height: 12vh;
  font-size: 26px;
}

.icon-container {
  background-color: white;
  border-radius: 100%;
  border: 1px solid rgb(171, 171, 171);
  width: 50px;
  height: 50px;
}
.icon-container .config-icon, .icon-container .closeModalHeader {
  font-size: 25px;
  color: rgb(171, 171, 171);
}

.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContent .closeModal {
  background-color: white;
  border-radius: 100%;
  border: 1px solid rgb(171, 171, 171);
  width: 40px;
  height: 40px;
}
.modalContent .closeModal .closeIcon {
  font-size: 25px;
  color: rgb(171, 171, 171);
}

.participantButtons {
  padding: 2vw;
  background-color: rgb(246, 224, 197);
  border: none;
  box-shadow: rgb(222, 222, 222) 2px 2px 2px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.back, .deletePool, .backToDrinks {
  padding: 3vw;
  background-color: rgb(246, 224, 197);
  border: none;
  box-shadow: rgb(222, 222, 222) 2px 2px 2px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.createDrinkable, .createParticipant {
  display: flex;
  justify-content: right;
  margin-right: 5vw;
}
.createDrinkable .createDrink, .createDrinkable .createNewParticipant, .createParticipant .createDrink, .createParticipant .createNewParticipant {
  padding: 5vw;
  background-color: rgb(246, 224, 197);
  border: none;
  box-shadow: rgb(222, 222, 222) 2px 2px 2px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.validate {
  display: flex;
  justify-content: center;
  align-items: center;
}
.validate .validateDrink {
  padding: 3vw;
  background-color: rgb(246, 224, 197);
  border: none;
  box-shadow: rgb(222, 222, 222) 2px 2px 2px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.deleteDrink {
  border: none;
  background-color: white;
  cursor: pointer;
}

.calculatePool {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7vw;
}
.calculatePool .validate {
  padding: 3vw;
  background-color: rgb(246, 224, 197);
  border: none;
  box-shadow: rgb(222, 222, 222) 2px 2px 2px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.deleteOrNotDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  margin-top: 10vw;
}
.deleteOrNotDelete .cancel, .deleteOrNotDelete .validateDelete {
  padding: 3vw;
  background-color: rgb(246, 224, 197);
  border: none;
  box-shadow: rgb(222, 222, 222) 2px 2px 2px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.logoHome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  flex-direction: column;
  color: white;
  font-size: 40px;
}
.logoHome .ChoppinLogo {
  width: 25vh;
}

.validateParticipant {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5% 15%;
}

.labelTitle {
  margin: 0 0 3vw 0;
}
.labelTitle input {
  width: 95%;
  border-radius: 5px;
  border-color: rgb(246, 224, 197);
}

.labelPart {
  display: flex;
  flex-direction: column;
  margin: 0 0 2vw 0;
}
.labelPart input {
  width: 95%;
  border-radius: 5px;
  border-color: rgb(246, 224, 197);
}

.homeErrorMsg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 7vw 4vw;
}
.homeErrorMsg .buttons {
  display: flex;
  flex-direction: row;
  gap: 10vw;
}

body {
  padding-bottom: 170px;
  background-color: rgb(0, 78, 83);
}

.bill {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: solid 3px rgb(246, 224, 197);
  width: 100%;
  z-index: 0;
  background-color: white;
}
.bill .total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: solid 3px rgb(246, 224, 197);
  padding: 0 15vw;
}

.poolRemaining {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.drinksAmount, .drinksPrice, .totalParticipant {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.header {
  height: 12vh;
  background-color: white;
  border-radius: 25px;
  margin: 10px;
}
.header .ChoppinLogo {
  width: 28vh;
  position: absolute;
  right: 35%;
  top: 3.5%;
}
.header .burger-menu {
  position: absolute;
  right: 2.5vw;
  top: 5vh;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  z-index: 10;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
  margin-right: 5%;
}
.header .burger-menu .burger {
  width: 2rem;
  height: 0.25rem;
  background: rgb(0, 111, 119);
}

.navbar {
  width: 91%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  align-items: center;
}
.navbar .ChoppinLogoNav {
  width: 35%;
}
.navbar .links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5vw;
  padding: 0;
}
.navbar .links li {
  padding-bottom: 10px;
  border-bottom: 1px rgb(231, 231, 231) solid;
}

.config {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  width: 80%;
}
.config .iconConfig a {
  text-decoration: none;
  color: inherit;
}
.config .iconConfig a:hover {
  color: inherit;
}
.config .iconConfig a .icon-container {
  color: rgb(255, 209, 93);
  font-size: 10vw;
}
.config .iconConfig a .icon-container:hover {
  color: black;
}

table {
  margin-top: 5vw;
  border-collapse: collapse;
  margin-bottom: 5vw;
}
table thead tr, table tbody tr {
  border-bottom: 2px solid rgb(246, 224, 197);
  display: flex;
  flex-direction: row;
}
table thead tr .name, table tbody tr .name {
  display: flex;
  align-items: center;
  width: 50vw;
  height: 5vh;
}
table thead tr .numberUser, table thead tr .given, table tbody tr .numberUser, table tbody tr .given {
  display: flex;
  align-items: center;
  width: 20vw;
}

.labelParticipants {
  margin: 0 0 3vw 0;
}
.labelParticipants input {
  border-radius: 5px;
  border-color: rgb(246, 224, 197);
}

.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20vh;
}
.homepage .logo {
  width: 20vw;
}

.charging {
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */