@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.navbar .links li {
  text-align: center;
}
.navbar .links li a {
  font-family: "Poppins", sans-serif;
  color: rgb(0, 111, 119);
  font-weight: 500;
  text-decoration: none;
  font-size: 24px;
}

.logoHome {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.formParticipant, .formDrinks {
  font-family: "Poppins", sans-serif;
  color: rgb(0, 111, 119);
  font-weight: 600;
  margin-top: 7vw;
}

.labelTitle input, .labelPart input, .labelDrinks input, .labelPartNumber input {
  font-family: "Poppins", sans-serif;
  color: rgb(0, 111, 119);
  font-weight: 400;
}

.participantButtonsValidate {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: white;
}
.participantButtonsValidate .check {
  color: white;
  font-size: 20px;
}

.backToDrinks .drinkIcon {
  color: white;
  font-size: 20px;
}

.deletePool .trash {
  color: white;
  font-size: 20px;
}

.errorList {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 400;
  margin: 20vw 5vw;
}
.errorList h2 a {
  color: inherit;
}
.errorList h2 a:hover {
  color: black;
}

.validateDrink {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.remaining {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 400;
  line-height: 0.5;
  font-size: 16px;
}
.remaining h2 {
  margin-bottom: 0;
}

.drinksAmount, .drinksPrice, .totalParticipant {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 400;
  line-height: 0;
}

.errorState {
  color: rgb(173, 50, 0);
}

.deleteConfirmation, .homeErrorMsg, .listConfig, .lessDrinks, .deleteDrink {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 400;
}

.deleteConfirmation {
  font-family: "Poppins", sans-serif;
  color: rgb(0, 111, 119);
  font-weight: 600;
}

.displayDrink, .detailsDrink {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: white;
}

.deleteOrNotDelete .cancel {
  color: rgb(173, 50, 0);
  font-size: 20px;
}
.deleteOrNotDelete .validateDelete {
  color: white;
  font-size: 20px;
}

.lessParticipants .minus, .lessMoney .minus {
  color: rgb(0, 111, 119);
  font-size: 18px;
}

.moreParticipants .plus, .moreMoney .plus, .moreDrinks .plus, .participantButtons .plus {
  color: rgb(173, 50, 0);
  font-size: 18px;
}

.drinkQuantity {
  border: 1.5px solid rgb(0, 111, 119);
  border-radius: 15px;
  padding: 0.5vh 7vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: white;
}

.createDrink {
  color: rgb(173, 50, 0);
  font-size: 18px;
}

.addAndCalculate .createNewDrink {
  color: rgb(173, 50, 0);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.calculatePool .validate {
  color: rgb(0, 129, 138);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.errorDiv {
  color: rgb(173, 50, 0);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.back, .addNewParticipant {
  color: rgb(173, 50, 0);
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.modifyNewParticipant {
  color: white;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

table thead tr .name, table tbody tr .name {
  color: white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
table thead tr .numberUser, table thead tr .given, table tbody tr .numberUser, table tbody tr .given {
  color: white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.title404 {
  color: rgb(173, 50, 0);
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.text404 {
  color: rgb(0, 129, 138);
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.redirectHome, .modifyNewParticipant {
  color: white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.addAndCalculate {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.labelDrinks {
  margin: 0 0 3vw 0;
}
.labelDrinks input {
  border-radius: 5px;
  width: 95%;
  height: 3vh;
}

.listOfDrinks {
  margin: 4vh 0;
  background-color: rgb(0, 70, 74);
  border-radius: 15px;
}
.listOfDrinks .setOfDrink {
  border-bottom: solid 1px rgb(0, 111, 119);
  margin: 0vh 3vh;
}
.listOfDrinks .setOfDrink:last-child {
  border-bottom: none;
}
.listOfDrinks .setOfDrink .displayDrink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20vw;
}
.listOfDrinks .setOfDrink .NumberOfDrinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.customDropdown {
  width: 100%; /* Match the width of the input field */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 4px; /* Round the corners */
  padding: 10px; /* Add some padding */
  background-color: #fff; /* Set the background color */
  z-index: 1; /* Stack the dropdown above other elements */
  max-height: 200px; /* Limit the height of the dropdown */
  overflow-y: auto; /* Add a scrollbar if necessary */
}

.customDropdown option {
  padding: 10px; /* Add some padding to each option */
  cursor: pointer; /* Change the cursor when hovering over an option */
}

.customDropdown option:hover {
  background-color: #f1f1f1; /* Change the background color of an option when hovering */
}

.createBudget {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5vw;
  background-color: rgb(255, 221, 18);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  color: rgb(173, 50, 0);
  width: 85%;
  height: 12vh;
  font-size: 26px;
}

.icon-container {
  background-color: white;
  border-radius: 100%;
  border: 1px solid rgb(171, 171, 171);
  width: 50px;
  height: 50px;
}
.icon-container .config-icon, .icon-container .closeModalHeader {
  font-size: 25px;
  color: rgb(171, 171, 171);
}

.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContent .closeModal {
  background-color: white;
  border-radius: 100%;
  border: 1px solid rgb(171, 171, 171);
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.modalContent .closeModal .closeIcon {
  font-size: 25px;
  color: rgb(171, 171, 171);
}

.participantButtons {
  background-color: rgb(255, 221, 18);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 4vw;
}

.participantButtonsValidate, .backToDrinks {
  padding: 4vw 14vw;
  background-color: rgb(0, 111, 119);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.homePageStyle {
  background-color: rgb(255, 221, 18);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 4vw 14vw;
}
.homePageStyle .trash {
  color: rgb(173, 50, 0);
}

.otherPageStyle {
  background-color: rgb(0, 78, 83);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 4vw;
}

.back {
  background-color: rgb(255, 221, 18);
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vh 0 0 0;
}

.createParticipant {
  display: flex;
  justify-content: center;
  gap: 5vw;
  margin: 0 5vw;
}
.createParticipant .modifyNewParticipant {
  background-color: rgb(0, 111, 119);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 4vw;
  width: 90%;
}
.createParticipant .addNewParticipant {
  background-color: rgb(255, 221, 18);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 4vw;
  width: 90%;
}

.lessDrinks, .deleteDrink {
  border-radius: 5px;
  background-color: rgb(0, 111, 119);
  padding: 1vh 1vh;
  cursor: pointer;
  border: none;
}

.moreDrinks {
  border-radius: 5px;
  background-color: rgb(255, 221, 18);
  border: none;
  padding: 1vh 1vh;
  cursor: pointer;
}
.moreDrinks:hover {
  background-color: rgb(255, 217, 0);
}

.validate {
  display: flex;
  justify-content: center;
  align-items: center;
}
.validate .validateDrink {
  padding: 4vw 14vw;
  background-color: rgb(0, 111, 119);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.deleteOrNotDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  margin-top: 10vw;
}
.deleteOrNotDelete .cancel {
  background-color: rgb(255, 221, 18);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 4vw;
}
.deleteOrNotDelete .validateDelete {
  padding: 4vw;
  background-color: rgb(0, 111, 119);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.lessParticipants, .lessMoney {
  border-radius: 5px;
  border: 1.5px solid rgb(231, 231, 231);
  padding: 0vh 1vh;
  cursor: pointer;
}

.moreParticipants, .moreMoney {
  border-radius: 5px;
  background-color: rgb(255, 221, 18);
  border: none;
  padding: 0vh 1vh;
  cursor: pointer;
}
.moreParticipants:hover, .moreMoney:hover {
  background-color: rgb(255, 217, 0);
}

.addAndCalculate .createNewDrink {
  border-radius: 5px;
  background-color: rgb(255, 221, 18);
  border: none;
  padding: 2vh 2.5vh;
  cursor: pointer;
}
.addAndCalculate .createNewDrink:hover {
  background-color: rgb(255, 217, 0);
}
.addAndCalculate .calculatePool .validate {
  padding: 2vh 11vw;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.createDrinkable {
  display: flex;
  justify-content: center;
}
.createDrinkable .createDrink {
  padding: 2vh 11vw;
  background-color: rgb(255, 221, 18);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.logoHome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  flex-direction: column;
  color: white;
}
.logoHome .ChoppinLogo {
  width: 25vh;
}

.homeErrorMsg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 7vw 4vw;
}
.homeErrorMsg .buttons {
  display: flex;
  flex-direction: row;
  gap: 10vw;
}

.events {
  display: flex;
  justify-content: center;
}
.events .createEvent {
  background-color: white;
  margin-top: 12vw;
  padding: 5%;
  border-radius: 15px;
  width: 75%;
  border: 10px solid rgb(233, 233, 233);
}
.events .createEvent .validateParticipant {
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin: 5% 0;
}
.events .createEvent .labelTitle {
  margin: 0 0 3vw 0;
}
.events .createEvent .labelTitle input {
  height: 3vh;
  width: 95%;
  border-radius: 5px;
}
.events .createEvent .labelPart {
  display: flex;
  flex-direction: column;
  margin: 0 0 2vw 0;
}
.events .createEvent .labelPart input {
  height: 3vh;
  width: 95%;
  border-radius: 5px;
}
.events .createEvent .labelPartNumber {
  display: flex;
  flex-direction: column;
  margin: 0 0 2vw 0;
}
.events .createEvent .labelPartNumber .number {
  display: flex;
  flex-direction: row;
  gap: 2%;
}
.events .createEvent .labelPartNumber .number input {
  height: 3vh;
  width: 95%;
  border-radius: 5px;
}
.events .createEvent .labelPartNumber .number .inputNumber::-webkit-inner-spin-button,
.events .createEvent .labelPartNumber .number .inputNumber::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.events .createEvent .labelPartNumber .number .inputNumber {
  -moz-appearance: textfield;
}

.formNewPart .validateParticipant {
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin: 5% 0;
}
.formNewPart .formParticipant .labelPart {
  display: flex;
  flex-direction: column;
  margin: 0 0 2vw 0;
}
.formNewPart .formParticipant .labelPart input {
  height: 3vh;
  width: 95%;
  border-radius: 5px;
}
.formNewPart .formParticipant .labelPartNumber {
  display: flex;
  flex-direction: column;
  margin: 0 0 2vw 0;
}
.formNewPart .formParticipant .labelPartNumber .number {
  display: flex;
  flex-direction: row;
  gap: 2%;
}
.formNewPart .formParticipant .labelPartNumber .number input {
  height: 3vh;
  width: 95%;
  border-radius: 5px;
}
.formNewPart .formParticipant .labelPartNumber .number .inputNumber::-webkit-inner-spin-button,
.formNewPart .formParticipant .labelPartNumber .number .inputNumber::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.formNewPart .formParticipant .labelPartNumber .number .inputNumber {
  -moz-appearance: textfield;
}

body {
  background-color: rgb(0, 78, 83);
  margin: 2vh;
}

.totalPool .bill {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-color: rgb(0, 111, 119);
  border-radius: 15px;
  margin: 0 2vh 2vh 2vh;
  padding: 0vh 3vh;
  height: 24vh;
}
.totalPool .bill .total {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 2vh;
}

.poolRemaining {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.drinksAmount, .drinksPrice, .totalParticipant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
  padding: 0 4vw;
  background-color: rgb(0, 129, 138);
  border-radius: 7px;
  width: 40vw;
  height: 4vh;
}

.errorState {
  background-color: rgb(255, 221, 18);
}

.errorDiv {
  background-color: rgb(255, 221, 18);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2vh 2vh;
  z-index: 0;
  position: fixed;
  bottom: 27vh;
  left: 0;
  right: 0;
}

.header {
  height: 12vh;
  background-color: white;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .ChoppinLogo {
  width: 11vh;
  position: absolute;
  top: 4.5vh;
}
.header .burger-menu {
  position: absolute;
  right: 2.5vw;
  top: 5vh;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  z-index: 10;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
  margin-right: 5%;
}
.header .burger-menu .burger {
  width: 2rem;
  height: 0.25rem;
  background: rgb(0, 111, 119);
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  align-items: center;
}
.navbar .ChoppinLogoNav {
  width: 11vh;
}
.navbar .links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5vw;
  padding: 0;
}
.navbar .links li {
  padding-bottom: 10px;
  border-bottom: 1px rgb(231, 231, 231) solid;
}

.config {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  width: 80%;
}
.config .iconConfig a {
  text-decoration: none;
  color: inherit;
}
.config .iconConfig a:hover {
  color: inherit;
}
.config .iconConfig a .icon-container {
  color: rgb(255, 209, 93);
  font-size: 10vw;
}
.config .iconConfig a .icon-container:hover {
  color: black;
}

table {
  margin: 5vw 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
table thead tr, table tbody tr {
  display: flex;
  flex-direction: row;
  margin-bottom: 2vw;
}
table thead tr .name, table tbody tr .name {
  display: flex;
  flex: 2;
  align-items: center;
  width: 46vw;
  height: 5vh;
}
table thead tr .name:first-child, table tbody tr .name:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 2vh;
}
table thead tr .numberUser, table thead tr .given, table tbody tr .numberUser, table tbody tr .given {
  flex: 1.5;
  display: flex;
  align-items: center;
  width: 20vw;
}
table thead tr .numberUser:last-child, table thead tr .given:last-child, table tbody tr .numberUser:last-child, table tbody tr .given:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
table thead tr td, table tbody tr td {
  background-color: rgb(0, 111, 119);
}

.labelParticipants {
  margin: 0 0 3vw 0;
}
.labelParticipants input {
  border-radius: 5px;
  border-color: rgb(246, 224, 197);
}

.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20vh;
}
.homepage .logo {
  width: 25vh;
}

.charging {
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */