.budgetPage {
  // overflow-y: auto;
  // max-height: 430px;

  .OrderPage {
    margin: 2vh 2vw;
    height: 60dvh;

    .orders {
      background-color: rgba(0, 70, 74, 1);
      padding: 1vh 4vh;
      border-radius: 15px;


      .tableOrders {
        &:last-child {
          .detailOrder {
            border-bottom: none;
          }
        }
        .detailOrder {
          padding: 0 2vh 2vh 2vh;
          border-bottom: solid 1px rgba(0, 111, 119, 1);

          .listOrder, .totalOrder {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
        }
        .reorder {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-right: 2vh;
        }
      }
    }
  }

  .poolBudgetPage {
    background-color: rgba(0, 111, 119, 1);
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 2vh;
  }
}

.poolRemaining {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .remaining {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
    padding: 0 4vw;
  
    background-color: rgba(0, 129, 138, 1);
    border-radius: 7px;
    width: 26vw;
    height: 4vh;
  }
}

.poolRemainingBudget {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 12vh;

  .remaining {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
    padding: 0 4vw;
  }
}