.header {
  height: 12vh;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  .ChoppinLogo {
    width: 9vh;
    left: 3.5vh;
    position: absolute;
  }
  
  .burger-menu {
    position: absolute;
    right: 8vw;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    z-index: 10;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  
    .burger {
      width: 2rem;
      height: 0.25rem;
      background-color: white;
      transition: all 0.3s linear;
    }
  
    &.open {
      .burger:nth-child(1) {
        transform: rotate(45deg) translate(0.51rem, 0.45rem);
        background-color: #006f77;
      }
  
      .burger:nth-child(2) {
        opacity: 0;
      }
  
      .burger:nth-child(3) {
        transform: rotate(-45deg) translate(0.5rem, -0.48rem);
        background-color: #006f77;
      }
    }
  }
}




.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  align-items: center;

  .ChoppinLogoNav {
    width: 11vh;
  }

  .links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5vw;
    padding:0;

    li {
      padding-bottom: 10px;
      border-bottom: 1px rgba(231, 231, 231, 1) solid;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.config {
  list-style: none;
  padding: 0;
  position: absolute;
  bottom: 0;
  width: 90%;
}