.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20vh;

  .logo {
    width: 25vh;
  }
}

.charging {
  display: flex;
  align-items: center;
  justify-content: center;
}